@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
.favourites {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  &__title {
    color: rgba(224, 164, 73, 1);
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  &__info {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 5px;
  }
}
